
<div *ngIf="user" class="container-fluid">
<h4 >Welcome {{user.username}}</h4>
<ol>
    <li *ngFor="let pokemon of user.pokemon">
        <img [src]="pokemon.image"/>
        <span>{{pokemon.name}}</span>&nbsp;
        <button type="submit" class="btn btn-danger" (click)="onRemovePokemon(pokemon)">
            Delete Pokémon
        </button>         
    </li>
</ol>
</div>




            
    








