<div class="container">
    <h1>Get Started</h1>
    
    <form #startForm="ngForm" (ngSubmit)="onStartSubmit(startForm)">

        <fieldset class="mb-5">
            <label for="username">username</label>
            <input 
            id="username"
            name="username"
            required
            minlength="3"
            ngModel
            #username="ngModel"
            type="text" 
            class="form-control" 
            placeholder="What's your username?">
        </fieldset>

        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
            <p *ngIf="username.errors['required']">This field is required</p>
            <p *ngIf="username.errors['minlength']">This username is too short</p>
        </div>

        <button 
        [disabled]="startForm.invalid"
        type="submit" class="btn btn-primary">Start</button>&nbsp;
        <button  
        [disabled]="startForm.invalid"
        (click)="onSignUpClick(startForm)" class="btn btn-secondary" >Sign up</button>

    </form>
        <div class="alert alert-danger" *ngIf="error !== ''">
            <p>{{error}}</p>
        </div>
</div>
