<nav class="navbar navbar-dark back-color" >
  <a class="navbar-brand" href="">Home</a>
  <a class="navbar-brand" href="/pokemon-catalogue-page">Pokémon catalogue</a>
  <a class="navbar-brand" href="/trainer-page">Trainer</a>
</nav>
<div class="container">

  <img src="../assets/pokemon.png" alt="Logo" sizes="100">
  <router-outlet></router-outlet>
</div>