<div class="container-fluid">
<ol>
    <li *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.image"/>
        <span>{{getSinglePokemon(pokemon.name)}}</span>
        <button class="btn btn-primary" (click)="onCollectSubmit(getSinglePokemon(pokemon))">Collect {{pokemon.name}}</button>&nbsp;
        <button type="submit" class="btn btn-info" >Show more info</button>
        
    </li>
</ol>
</div>
